<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418742179410-h2fp8h32kvvkq0mibmfm1m8op7ruio6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418742179410-h2fp8h32kvvkq0mibmfm1m8op7ruio6a</string>
	<key>API_KEY</key>
	<string>AIzaSyBk1LMo9wXoOz-cLojBXijUVSZ8HX1Eh-c</string>
	<key>GCM_SENDER_ID</key>
	<string>418742179410</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pedometer</string>
	<key>PROJECT_ID</key>
	<string>pedometerapp-40a1d</string>
	<key>STORAGE_BUCKET</key>
	<string>pedometerapp-40a1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418742179410:ios:90065fa04e6b200b18b18b</string>
</dict>
</plist>